<header>
    <nav class="navbar navbar-custom d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <button class="navbar-toggler toggler-button me-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#menuCollapse" aria-controls="menuCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">LapZone</a>
            <div class="d-none d-md-block">
                <a href="#" class="nav-link d-inline">Home</a>
                <a href="shop" class="nav-link d-inline">Shop</a>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <input type="text" class="search-bar me-2" placeholder="What are you looking for?" />
            <i class="bi bi-search text-dark bg-white px-2 py-1 rounded"></i>
            <div class="icon-group d-flex align-items-center position-relative">
                <i class="bi bi-heart me-3" id="heartIcon"></i>
                <i class="bi bi-cart2 me-3" id="cartIcon"></i>
                <i class="bi bi-person-circle" id="userIcon"></i>
                <div class="dropdown-menu" id="userDropdown">
                    <ul>
                        <li>Profile</li>
                        <li>Settings</li>
                        <li class="logout-item">Logout</li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="collapse" id="menuCollapse">
        <div class="toggler-content">
            <span class="d-block text-white">All products</span>
            <span class="d-block text-white">Gaming Laptops</span>
            <span class="d-block text-white">Business Laptops</span>
            <span class="d-block text-white">Student Laptops</span>
            <span class="d-block text-white">Creator Laptops</span>
            <span class="d-block text-white">About</span>
            <span class="d-block text-white">Contact</span>
        </div>
    </div>
</header>