<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>
    <link rel="stylesheet" href="/css/adminlogin.css">
    </head>

<body>

    <div class="login-container">
        <h2>Admin Login</h2>

        <% if (error) { %>
            <div class="error-message" style="display: block;">
                <%= error %>
            </div>
        <% } %>

        <form method="POST" action="/admin/login">
            <div class="input-group">
                <label for="email">Email</label>
                <input name="email" type="email" id="email" placeholder="Enter your email" required />
            </div>

            <div class="input-group">
                <label for="password">Password</label>
                <div class="password-wrapper">
                    <input name="password" type="password" id="password" placeholder="Enter your password" required />
                    </div>
            </div>

            <button type="submit" class="login-btn">
                Log in
            </button>
        </form>
    </div>

</body>

</html>